<!DOCTYPE html>
<html lang="zh-cmn-Hans">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1,user-scalable=no">
    <meta name="screen-orientation" content="portrait">
    <meta name="x5-orientation" content="portrait">
    <meta content="email=no" name="format-detection" />
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no,email=no,adress=no">
    <link href="__PUBLIC__/css/base.css?t=1" rel="stylesheet" type="text/css">
    <link href="__PUBLIC__/css/common.css?t=2" rel="stylesheet" type="text/css">
    <link href="__PUBLIC__/css/me.css?t=3" rel="stylesheet" type="text/css">
    <!--<link href="__PUBLIC__/layer/mobile/need/layer.css" rel="stylesheet" type="text/css">-->
    <link href="__PUBLIC__/css/basestyle.css" rel="stylesheet" type="text/css">
    <script src="__PUBLIC__/js/jquery-2.2.3.min.js"></script>
    <script src="__PUBLIC__/layer/layer.js"></script>
    <script type="text/javascript" src="__PUBLIC__/qrcode/js/qrcode.js"></script>
    <script type="text/javascript" src="__PUBLIC__/qrcode/js/jquery.qrcode.js"></script>
    <script type="text/javascript" src="__PUBLIC__/qrcode/js/jquery-barcode.min.js"></script>
    <title><{$coin_menu['title']}></title>
</head>

