    <div class="footer">
        <a  href="<{:U('Coinpurse/index')}>" <if condition="ACTION_NAME eq 'index'">class="active"</if>>
            <span class="normal_1"></span>
            <span>充值</span></a>
        <a href="<{:U('Coinpurse/payDetail')}>" <if condition="ACTION_NAME eq 'payDetail'">class="active"</if>>
            <span class="normal_2"></span>
            <span>明细</span></a>
        <a href="<{:U('Coinpurse/qrcode')}>" <if condition="ACTION_NAME eq 'qrcode'">class="active"</if>>
           <span class="normal_3"></span>
            <span>付款</span></a>
    </div>
    </div>
</body>
</html>