<div id="header" class="header clear">
  <header class="mint-header is-fixed">
    <div class="mint-header-button is-left">
      <a href="javascript:;" class="mui-active">
        <button class="mint-button mint-button--default mint-button--normal">
                    <span class="mint-button-icon">
                        <i class="mintui mintui-back"></i>
                    </span>
          <label class="mint-button-text"></label>
        </button>
      </a>
    </div>
    <h1 class="mint-header-title">会员合作购</h1>
    <div class="mint-header-button is-right">
      <button data-url="<{:U('Member/agreement')}>" class="mint-button mint-button--default mint-button--normal">
                <span class="mint-button-icon">
                    <img src="__PUBLIC__/img/13.png" alt="" class="my_xieyi">
                    <label class="mint-button-text"><a style="color: #fff;" href="<{:U('Member/lists')}>">我的协议</a></label>
                </span>
        <label class="mint-button-text"></label>
      </button>
    </div>
  </header>
  <div class="jindu jindu_1">
    <div class="part_y fl <gt name='step' value='0'>active</gt>">
      <div><p>1</p></div>
      <div>选择套餐</div>
    </div>
    <div class="part_x fl <gt name='step' value='1'>active</gt>"></div>
    <div class="part_y fl <gt name='step' value='1'>active</gt>">
      <div><p>2</p></div>
      <div>实名认证</div>
    </div>
    <div class="part_x fl <gt name='step' value='2'>active</gt>"></div>
    <div class="part_y fl <gt name='step' value='2'>active</gt>">
      <div><p>3</p></div>
      <div>完成支付</div>
    </div>
  
  
  </div>
</div>
