<!DOCTYPE html>
<html lang="zh">
<head>
  <meta charset="UTF-8">
  <title><{$title|default="会员合作购"}></title>
  <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no">
  
  <link rel="stylesheet" href="__PUBLIC__/css/bootstrap.min.css">
  <link rel="stylesheet" href="__PUBLIC__/css/mui.css">
  <link rel="stylesheet" href="__PUBLIC__/css/number_style.css">
  <script src="__PUBLIC__/js/jquery-2.2.3.min.js"></script>
  <script src="__PUBLIC__/js/bootstrap.min.js"></script>
  <script type="application/javascript">
    var level = '<{$now_level ?: ""}>';
  </script>
</head>