html,body,div,h1,h2,h3,h4,h5,h6,p,a,span{margin:0;padding:0;}
a{text-decoration: none;}
li{list-style-type: none;}
.fl{float:left}
.fr{float:right}
.clear{zoom:1}
.clear:after{content:"";display:block;clear:both}
body{background:#fff;}
.container{
    display:flex;
    flex-direction:column;
}
.header{  width:100%;  height:220px;  position:relative;
}
.header_tips{  width:100%;  height:15%;  position:absolute;  top:0;    background:rgba(0,0,0,0.1);color:#fff;font-size:12px;
}
.swrap{width:70%;height:100%;overflow: hidden;margin:0 10px;padding:0;}
.huaban{width:1500px;height:100%;animation:swimg 8s linear infinite normal;position:relative;}
.huaban_list{float:left;height:100%;margin:0;padding:0;display:flex;align-items:center;width:500px;}
.header_tips div{vertical-align: middle;}
@keyframes swimg{
    0% {left: 0}
    20%{left: -200px;}
    40% {left: -400px}
    60%{left: -600px;}
    80% {left: -800px}
    100%{left:-1000px;}
    
}


.header_tips .icon_false{width:11px;height:11px;margin-top:13px;background:url(../img/main/chongzhi/false_03.png) no-repeat;background-size:cover;margin-right:10px;}
.header_content{display:flex; width:100%;  height:100%;  background:url(../img/main/chongzhi/bg.png) no-repeat;background-size:cover;
}
.header_content .content{width:50%;height:70px;margin:60px auto 0;color:#fff;}
.header_content .content p{text-align:center;}
.header_content .content .p1{font-size:15px;}
.header_content .content .p2{font-size:32px;font-weight:700;margin-top:8px;}
.header_message{ width:100%;  height:27%;  position:absolute;  bottom:0;  background:rgba(0,0,0,0.1);color:#fff;}
.header_message div{float:left;width:28%;margin:0 2%;}
.header_message div p{margin-top:5px;font-size:13px;text-align:center}
.header_message div p:nth-child(2){font-size:20px;}

/*头部结束*/
/*电话号码*/
.phone{width:100%;height:60px;line-height:60px;padding:13px 10px;border-bottom:thin solid #ededed}
.phone input{width:70%;height:100%;float:left;font-size:24px;}
.phone input::-webkit-input-placeholder{
    color: #bcbcbc;font-size:16px;}
.phone span{float:right;width:25px;height:25px;margin-top:5px;background:url(../img/main/chongzhi/tongxunlu_02.png) no-repeat;background-size:cover;}

/*message部分*/
.message{width:100%;height:50px;margin-left:10px;margin-top:8px;border-bottom:2px dotted #ededed}
.message p{font-size:12px;color:#ff2832;line-height:22px;}

/*money部分*/
.money{width:100%;padding:3%;}
.money ul li{width:31%;height:50px;border:1px solid #ededed;float:left;margin-bottom:5px;margin-right:5px;border-radius:5px;}
.money ul li.active{border:1px solid #ff2832;}
.money ul li.active a{color:#ff2832;}
.money ul li a{width:100%;height:100%;display:flex;justify-content: center;align-items: center;font-size:20px;font-weight:600;}
.money ul li input{width:100%;height:100%;display:flex;justify-content: center;align-items: center;font-size:20px;color:#ff2832;}

.money input::-webkit-input-placeholder{
    text-align:center;font-size:16px;}
/*button_tap部分*/
.button_tap{margin-top:10px;width:100%}
.button_tap a{display:block;width:70%;height:40px;line-height:40px;text-align: center;margin:10px auto;background:#b3b3b3;font-size:16px;font-weight:500;border-radius:5px;color:#fff;}
.button_tap .tap_use.active{background:#ff2832;}
.button_tap .tap_give{background:#fff5f5;color:#ff4c55;border:1px solid #ff7f86}

/*footer部分*/
.footer{width:100%;height:60px;display:flex;flex-direction:row;padding-top:5px;position:fixed;bottom:0;border-top:1px solid #ededed;background:#fff;}
.footer a{flex-grow:1;display:flex;flex-direction:column;justify-content: center;align-items: center;}

.footer a span{font-size:12px;color:#666;}
.footer a:nth-child(2) span{margin-top:2px;}
.footer .normal_1{width:30px; height:30px;background:url(../img/main/chongzhi/tool_001.png) no-repeat;background-size:cover;}
.footer .normal_2{width:30px; height:30px;background:url(../img/main/chongzhi/tool_002.png) no-repeat;background-size:cover;}
.footer .normal_3{width:30px; height:30px;background:url(../img/main/chongzhi/tool_003.png) no-repeat;background-size:cover;}
.footer .active .normal_1{background:url(../img/main/chongzhi/tool_004.png) no-repeat;background-size:cover;}
.footer .active .normal_2{background:url(../img/main/chongzhi/tool_005.png) no-repeat;background-size:cover;}
.footer .active .normal_3{background:url(../img/main/chongzhi/tool_006.png) no-repeat;background-size:cover;}
.footer .active span{color:#ff2832;}



/*付款页面*/
#pay_body{background:#e6e6e6;}
#wrap{display:flex;flex-direction:column;}
#content{background:#fff;}
.pay_title{color:#666;}
.pay{width:100%;margin-left:10px;height:50px;display:flex;flex-direction:row;align-items:center;justify-content:space-between;border-bottom:1px solid #ededed}
.pay_left{width:60%;display:flex;flex-direction: row;align-items:center;}
.pay img{width:30px;height:30px;}
.pay p{margin-left:15px;font-size:16px;}
.pay span{margin-right:20px;width:22px;height:22px;background:url(../img/main/chongzhi/icon_checkbox1.png) no-repeat;background-size:cover;}
.pay span input{width:20px;height:20px;opacity:0}
.pay span.active{background:url(../img/main/chongzhi/icon_checkbox.png) no-repeat;background-size:cover;}
.pay_a{width:90%;height:40px;background:#b2b2b2;margin:30px auto;color:#fff;line-height:40px;text-align:center;border-radius:5px;letter-spacing:2px;font-weight:500;}
.pay_a.active{background:#ff2832;}

/*付款结果页面*/
.result{width:100%;height:400px;margin-top:100px;}
.result img{width:80%;height:250px;display:block;margin:0 auto;}
.result .content{width:50%;height:100px;margin:0 auto;text-align: center;}
.result .content p{font-size:16px;}

/*二维码界面*/
.ewm_body{background:url(../img/main/chongzhi/erweima_bg.png) no-repeat;}
.ewm .content{width:70%;height:500px;margin:50px auto;display:flex;flex-direction:column;align-items:center;}
.ewm .content .ewm_img{width:200px;height:200px;margin:0 auto;}
.ewm .content .ewm_p1{color:#b3b3b3;margin-top:10px;font-size:12px;}
.ewm .content .ewm_p1 span{color:#ff2832;font-size:16px;font-weight:bold;}
.ewm .content .ewm_line3{display:flex;flex-direction: row;align-items:center;}
.ewm .content .ewm_line3 img{width:20px;height:22px;margin-right:5px;}
.ewm .content .ewm_p2{color:#b3b3b3;margin-top:10px;margin-bottom:10px;font-size:12px;}

.ewm_border{display:flex;flex-direction: row;border:2px solid #b3b3b3;justify-content: space-around;align-items:center;width:200px;padding:5px;border-radius:5px;}
.ewm_border img:nth-child(1){width:30px; height:15px;}
.ewm_border p{font-size:12px;color:#ff2832;font-weight:bold;}
.ewm_border img:nth-child(3){width:15px;height:15px;}
/*卡片界面*/
.card_body{background:url(../img/main/kapian/jieri.png) no-repeat;background-size:cover;}
.card_body.daonian{background:url(../img/main/kapian/daonian.png) no-repeat;background-size:cover;}
.card_body.shengri{background:url(../img/main/kapian/shengri.png) no-repeat;background-size:cover;}
.card_body.hongbao{background:url(../img/main/kapian/richang.png) no-repeat;background-size:cover;}

.card .header{width:100%;height:10rem;background:url(../img/main/kapian/header.png) no-repeat;background-size:cover;position:absolute;top:0;}
.card .header p{color:#fff;font-size:1.4rem;margin-top:5rem;margin-left:4rem}
.card .content{height:32rem;margin-top:7rem;margin-left:11%;width:80%;position:relative;background:url(../img/main/kapian/center2.png) no-repeat;background-size:100% 100%;}
.card .content h2{position:absolute;top:4rem;left:2rem;color:#b3b3b3}
.card .content h2 span{color:#f0eceb}
.card .content_main{ position:absolute;top:6rem;margin-left:4rem;color:#fffbfa;margin-top:1.5rem;line-height:2.5rem;font-size:1.5rem;margin-right:1rem;}
.card .content_bottom{position:absolute;bottom:3rem;right:2rem;color:#ffcc00;}
.card .content_bottom p{font-size:1.6rem;font-weight:500;line-height:2.5rem;}
@media only screen and (max-width:330px){
    .card .header p{margin-top:4rem;}
    .card .content{margin-top:5rem;}
    .card .content_bottom p{font-size:1.4rem}
}
@media screen and (min-width:400px){
    .card .header p{margin-top:6rem;margin-left:6rem;font-size:1.6rem;}
    .card .content{height:35rem;}
    .card .content h2{margin-top:1rem;}
}
@media screen and (min-width:550px){
    .card .header p{margin-top:8rem;margin-left:12rem;font-size:2rem;}
    .card .content{height:38rem;margin-top:9rem;}
    .card .content h2{margin-top:3rem;font-size:2rem;}
    .card .content_main{margin-left:6rem;font-size:1.6rem;margin-top:6rem;}
}

/*卡片领取页面*/
.card_button{width:75%;height:60px;display:flex;align-items:center;justify-content: center;margin:0 auto;background:url(../img/main/kapian/center_border.png) no-repeat;background-size:100% 100%;}
.card_button a{width:90%;height:40px;background:#ffa825;text-align:center;line-height:40px;font-size:20px;color:#fff;border-radius:10px;;letter-spacing: 1px;}
.card_button a.normal{background:#ffde00;color:#000;}
.card_button a.outtime{background:#fff3a6;color:#000;}
.card_body.daonian .card_button a.normal{background:#ffffff;color:#000;}
.card_body.daonian .card_button a.outtime{background:#b3b3b3;color:#000}
/*明細界面*/
.mingxi_body{background:#e6e6e6;}
.mingxi .header{position:fixed;top:0;width:100%;height:40px;display:flex;flex-direction: row;justify-content: space-around;background:#fff;}
.mingxi .header div{display:flex;width:25%;height:40px;align-items:center;
    justify-content:center;border-bottom:1px solid #ededed;}
.mingxi .header div span{width:12.5%;position:absolute;bottom:0;height:2px;}
.mingxi .header div.active span{background:#ff2832;}
.mingxi .header div p{width:100%;height:25px;border-right:1px solid #ededed;text-align: center;font-size:16px;}

.mingxi_none{width:200px;height:300px;position:absolute;top:15%;left:50%;transform: translate(-50%)}
.mingxi_none .mingxi_img{display:block;margin:0 auto;width:120px;height:150px;position:relative;left:3px;}
.mingxi_none .mingxi_text{margin:20px auto;text-align: center;font-size:22px;color:#717171;}

.mingxi_content{padding-left:10px;margin-top:41px;background:#fff;}
.mingxi_item{height:70px;display:flex;flex-direction: row;justify-content: space-between;align-items: center;border-bottom:1px solid #ededed;}
.mingxi_left{display:flex;flex-direction: column;}
.left_top{font-size:16px;margin-bottom:5px;color:#333;}
.left_top span{font-size:14px;}
.left_bottom{font-size:12px;color:#999;}
.mingxi_right{display:flex;flex-direction:column;align-items:flex-end;}
.right_top{color:#ff2832;font-size:20px;font-weight:bold;margin-bottom:5px;margin-right:10px;}
.right_top.right_top_active{color:#58c655;font-size:20px;font-weight:bold;margin-bottom:5px;}
.right_bottom{margin-right:10px;font-size:12px;color:#999;}

/*聊天页面*/
.chat_body{background:#fff;}
.chat{width:100%;height:100%;margin-top:40px;}
.chat_item{height:130px;width:75%;margin:15px auto 0;background:url(../img/main/kapian/biankuang_03.png) no-repeat;background-size:100% 100%;display:flex;flex-direction:column;justify-content: space-around;}
.chat_item .title{font-size:16px;color:#353535;margin-top:10px;margin-left:10px;font-weight:600;letter-spacing: 1px;}

.chat_item .content{display:flex;flex-direction: row;justify-content: space-around}
.chat_item .content p{font-size:12px;margin-left:10px;width:60%;color:#999;}
.chat_item .content img{width:60px;height:60px;margin-right:10px;margin-bottom:5px;}

/*转赠页面*/
.giveFriend input,textarea{outline:none;}
.giveFriend{width:100%;background:#e5e5e5;display:flex;flex-direction: column;margin:0;padding:0;}
.giveFriend .header{width:100%;height:80px;background:#fff;display:flex;align-items: center;}
.giveFriend .header img{width:100px;height:60px;margin-left:20px;}
.giveFriend .header div{margin-left:10px;}
.giveFriend .header h3{color:#333;}
.giveFriend .header p{color:#c7c7c7;font-size:12px;}
.giveFriend .title_money{height:40px;display:flex;align-items: center}
.giveFriend .title_money p{height:18px;padding-left:10px;margin-left:20px;border-left:2px solid #ff2832;font-size:14px;}
.giveFriend .give_money{width:100%;height:100px;background:#fff;}
.giveFriend .give_money div{height:50px;width:100%;display:flex;flex-direction:row;border-bottom:1px solid #ededed;align-items:center;}
.giveFriend .give_money div label{margin-left:20px;line-height:30px;}
.giveFriend .give_money div input{margin-left:20px;height:30px;border:none;}
.giveFriend .give_card {width:100%;height:110px;background:#fff;overflow: hidden}
.giveFriend .give_card ul{display:flex;flex-direction: row; margin:0;padding:0 10px;overflow-x:scroll;height:110px;}
.giveFriend .give_card li{margin:15px 10px;width:135px;height:80px;}
.giveFriend .give_card li img{width:135px;height:80px;}
.giveFriend .give_card li img:nth-child(2){display:none;}
.giveFriend .give_card li.active img:nth-child(1){display:none;}
.giveFriend .give_card li.active img:nth-child(2){display:block;}

.giveFriend .give_message{height:188px;margin-bottom:70px;}
.giveFriend div.give_fathermsg{width:100%;border-bottom:1px solid #ededed;height:85px;}
.giveFriend .give_msg{border:none;height:70px;margin-left:40px;margin-top:15px;resize:none}
.giveFriend .give_msg::-webkit-input-placeholder{ color: #bcbcbc;font-size:16px;margin-top:15px;}

.giveFriend .give_footer{position:fixed;bottom:0;height:55px;background:#fff;width:100%;}
.giveFriend .give_footer button{height:55px;float:right;width:150px;background:#ff2832;color:#fff;line-height:55px;text-align: center;border:none;font-size:18px;}
