<script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
<script>
  	wx.config({
      debug:false,
      appId: "<{$getSignPackage['appId']}>",
      timestamp: "<{$getSignPackage['timestamp']}>",
      nonceStr: "<{$getSignPackage['nonceStr']}>",
      signature: "<{$getSignPackage['signature']}>",
      jsApiList: [
	  
        'checkJsApi',
        'onMenuShareTimeline',
        'onMenuShareAppMessage',
        'onMenuShareQQ',
        'onMenuShareWeibo',
        'closeWindow'
      ]
  	});
    wx.ready(function() {
        
        var shareData = {
             title: "你的好友 <{$username}> 送给您一份电子购物卡礼品卡",
             desc: "点击领取Ta送给你的一份礼包，还有对你说的话...",
             link: "<{$receive_url}>",
             imgUrl: "<{$img_url}>",
             success: function () { 
                wx.closeWindow();
            },
            };
        
        wx.onMenuShareAppMessage(shareData);
        wx.onMenuShareTimeline(shareData);
        wx.onMenuShareQQ(shareData);
        wx.onMenuShareWeibo(shareData);    
     })
    wx.error(function(res) {
        alert(res.errMsg);
    });
	
</script>
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>赠送给好友</title>
  <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no">
  <link rel="stylesheet" href="__PUBLIC__/css/style.css">
  <style>
    #gift-controller,.ui-gift-item{height:100%}.ui-gift-item{width:100%;position:relative;background-repeat:no-repeat;background-size:cover;background-position-x:100%}.ui-gift-info{position:absolute;top:50%;left:50%;width:80%;max-width:500px;border-radius:4px;background:rgba(255,255,255,.9);padding:10px;-webkit-transform:translate(-50%,-50%);transform:translate(-50%,-50%)}.ui-gift-goods .ui-image{height:80px;width:80px;margin-right:10px;border-radius:50%}.ui-gift-goods .ui-image,.ui-goods-info{display:inline-block;vertical-align:middle}.ui-border-top:before{background-color:#999}.ui-pointer-mask{position:absolute;top:0;left:0;bottom:0;right:0;background-color:rgba(0,0,0,.5)}.ui-pointer-mask .ui-image{width:100%}
  </style>
</head>
<body>
    <div id="gift-controller">
    <div class="ui-gift-item" style="background-image: url(__PUBLIC__/img/<{$theme_id}>.jpg);">
        <div class="ui-gift-info">
        <img src="<{$is_ouu_trade_no['head_img']}>" style="width: 80px;height: 80px;border-radius: 50%;margin: 0 auto;" class="ui-image">
            <div class="ui-gift-goods ui-text-center">
                <div class="ui-goods-info ui-line-16">
                    <div class="ui-section-top">
                        🎁您有<{$is_ouu_trade_no['total_fee']}>元的零钱即将赠送
                    </div>
                </div>
            </div>
            <div class="ui-container ui-text-small">
                <div class="ui-line-24">
                        To:<{$toname}>
                </div>
                <div class="ui-line-15" style="text-indent: 2em;">
                   <{$is_ouu_trade_no['content']}>
                </div>
                <div class="ui-line-24 ui-text-right">
                    From: <{$fromname}>
                </div>
            </div>
            <button class="ui-btn ui-yellow" style="">赠送给好友</button>
            <button class="ui-btn ui-yellow" style="display: none;">领取礼物</button>
            <div class="ui-border-top ui-text-center ui-grey ui-text-small ui-line-20" style="display: none;">
                已被 <span class="ui-blue"></span> 领取
            </div>
        </div>
    </div>
    <div class="ui-pointer-mask" style="display: block;">
        <img src="__PUBLIC__/img/point.png">
    </div>
</div>
</body>
</html>