<include file="Public/coinHeader" />
<body>
    <div class="mingxi">
    <div class="header">
        <div class="active"><p>全部</p><span></span></div>
        <div><p>收益</p><span></span></div>
        <div><p>充值</p><span></span></div>
        <div><p>消费</p><span></span></div>
    </div>
    <div class="mingxi_none" style="display:none;">
        <div class="mingxi_none">
            <img class="mingxi_img" src="__PUBLIC__/img/main/kapian/shouzhi_02.png" alt="">
            <p class="mingxi_text">暂无<span>收益</span>明细</p>
        </div>
    </div>
    <ul class="mingxi_content">

        <volist name="detail" id="vo">
            <li class="mingxi_item">
                <div class="mingxi_left">
                    <div class="left_top"><{$vo.cdltrans}><span></span></div>
                    <div class="left_bottom"><{$vo.cdlno}></div>
                </div>
                <div class="mingxi_right">
                    <div class="right_top"><span>+</span><{$vo.cdlmoney}></div>
                    <div class="right_bottom"> <{$vo.cdldate}></div>
                </div>
            </li>
        </volist>
    </ul>
<include file="Public/coinFooter" />
    </div>
</body>
<script>
    $(function(){
        $(".header div").click(function(){
            $(".header div").removeClass("active");
            $(this).addClass("active");
        })
        if($(".right_top span").text("+")){
            $(".right_top").addClass("right_top_active")
        }else if($(".right_top span").text("-")){
            $(".right_top").removeClass("right_top_active")
        }
    })
</script>

