<include file="Public/coinHeader" />
<!--<body>-->
<!--<div class="weui-btn weui-btn_warn btn">付款二维码</div>-->
<!--<div class="page__bd page__bd_spacing img">-->
    <!--<div class="weui-flex">-->
        <!--<div class="weui-flex__item">-->
            <!--<div class="placeholder">-->
                <!--<div class="img1" id="qrCode"></div>-->
                <!---->
                <!--<center><div class="img2" id="barcode">-->
                <!--</div>-->
                 <!--&lt;!&ndash; <p style="font-size:12px;"><{$cardno}></p> &ndash;&gt;</center>-->
            <!--</div>-->
            <!--<p class="qr_time_tips" style="font-size:13px;color:#ccc; margin-top: 10px;"></p>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->
<!--</body>-->
<body class="ewm_body">
<div class="ewm">
    <div class="content">
        <img class="ewm_img" src="__PUBLIC__/img/main/chongzhi/erweima_03.png" alt="">
        <p class="ewm_p1">CardNO <span>13433557814</span></p>
        <div class="ewm_line3">
            <img src="__PUBLIC__/img/main/chongzhi/erweima_07.png" alt="">
            <p class="ewm_p2">使用时请向收银员出示此码</p>
        </div>
        <div class="ewm_border">
            <img src="__PUBLIC__/img/main/chongzhi/quan.png" alt="">
            <p>进入我的电子券</p>
            <img src="__PUBLIC__/img/main/chongzhi/left_03.png" alt="">
        </div>
    </div>
<include file="Public/coinFooter" />
 <script>
    var time = 60000;
    $(function(){
        countDown(time);
        setInterval(function(){
            window.location.reload();
            countDown(time);
        },time);
    })

    function countDown(time){
        var tempTime = time/1000;
        $('.qr_time_tips').text('当前会员电子码有效期剩余'+tempTime+'秒').css('text-align','center');
        var tempInteval = setInterval(function(){
            tempTime--;
            $('.qr_time_tips').text('当前会员电子码有效期剩余'+tempTime+'秒').css('text-align','center');
            if(tempTime==0){
                clearInterval(tempInteval);
            }
        },1000);
    }
</script>
<script type="text/javascript">
var textLink = "<{$cardno}>";

 $('#qrCode').qrcode({width:220,height:220,text:textLink,refresh:false,time:30000});

$("#barcode").barcode(textLink, "code128",{barWidth:1, barHeight:70,showHRI:false});
</script>