<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">

    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/mui.css">
    <link rel="stylesheet" href="css/number_style.css">
    <script src="js/jquery-2.2.3.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
</head>
<body>
<div id="wrap">

    <div id="header" class="header_2 clear">
        <header class="mint-header is-fixed">
            <div class="mint-header-button is-left">
                <a href="#/" class="mui-active">
                    <button class="mint-button mint-button--default mint-button--normal">
                    <span class="mint-button-icon">
                        <i class="mintui mintui-back"></i>
                    </span>
                        <label class="mint-button-text"></label>
                    </button>
                </a>
            </div>
            <h1 class="mint-header-title">会员合作购</h1>
            <div class="mint-header-button is-right">
                <button class="mint-button mint-button--default mint-button--normal">
                <span class="mint-button-icon">
                    <img src="img/13.png" alt="" class="my_xieyi">
                    <label class="mint-button-text">我的协议</label>
                </span>
                    <label class="mint-button-text"></label>
                </button>
            </div>
        </header>
        <div class="jindu jindu_2">
            <div class="part_y fl">
                <div><p>1</p></div>
                <div>选择套餐</div>
            </div>
            <div class="part_x fl"></div>
            <div class="part_y fl">
                <div><p>2</p></div>
                <div>实名认证</div>
            </div>
            <div class="part_x fl"></div>
            <div class="part_y fl">
                <div><p>3</p></div>
                <div>完成支付</div>
            </div>


        </div>
    </div>
    <div class="message_2 clear">
        <a class="msg-cell"><!---->
            <div class="msg-cell-left"></div>
            <div class="msg-cell-wrapper">
                <div class="msg-cell-title"><!---->
                    <span class="msg-cell-text"><input type="text" v-model="name" class="name" placeholder="请输入姓名"></span> <!---->
                </div>
                <div class="msg-cell-value"><span class="icon_x"><img src="img/icon_X.jpg" alt=""></span>
                </div>
            </div>
            <div class="msg-cell-right"></div> <!---->
        </a>
        <a class="msg-cell"><!---->
            <div class="msg-cell-left"></div>
            <div class="msg-cell-wrapper">
                <div class="msg-cell-title"><!---->
                    <span class="msg-cell-text">
                        <input type="text" placeholder="身份证号码" v-model="person_number" class="shenfen"></span>
                </div>
                <div class="msg-cell-value"><span class="icon_x"><img src="img/icon_X.jpg" alt=""></span>
                </div>
            </div>
            <div class="msg-cell-right"></div> <!---->
        </a>
    </div>
    <input class="nextstep" type="button" value="下一步">


</div>


</body>
<script src="js/base.js"></script>
<script src="js/vue.js"></script>
<script src="layer/layer.js"></script>
</html>