@charset "UTF-8";


/*去除type=number自带上下键*/
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}
input::-webkit-outer-spin-button {
    -webkit-appearance: none;
}

input{ background: none; border:none 0; outline: none;}



.footer_point {
            background: #ff4657 none repeat scroll 0 0;
            border-radius: 50%;
            display: inline-block;
            height: 8px;
            left: 50%;
            margin-left: 13px;
            width: 8px;
        }

.ico_bank_card{ padding-left: 40px;
    background: url("../icons/widthdraw_ico_bank.png") no-repeat;
    background-size: 20px auto;
    background-position: 10px  8px  }

.ico_bank_money_ico{background: url("../icons/rbank.png") no-repeat;
    background-size: 20px auto;
    background-position: 0px  11px  }
.ico_right_link{
    padding-right: 15px; background: url("../images/rightarr.png") no-repeat;background-size: 12px auto;background-position: right 12px;
}

.ico_right_link_exprice{
    padding-right: 15px; background: url("../images/rightarr.png") no-repeat;background-size: 10px auto;background-position: right 4px;
}
.banner_slide {width: 7000px;}
.banner_slide img{ display: block;float: left; position: relative}

.Mainmenu{ display: block;padding-left: 11px; padding-right: 11px;}
.Mainmenu li{width: 33.3333%; text-align: center; font-size: 14px; color: #585858}
.Mainmenu li img{ width: 38px; height: 44px;}
.Mainmenu li p{padding-top: 10px;}

/* 基础列表样式 */
.list_normal{}
.list_normal li{padding-right: 15px;border-bottom: #ededed solid 1px;line-height: 44px;width: 100%}
.list_normal li:last-child{border: none}
.list_normal a{display: inline-block; width: 100%;line-height: 40px; background: url("../images/rightarr.png") no-repeat scroll right 13px / 12px auto}
.list_normal_01 a{display: inline-block; width: 100%;line-height: 40px; background: url("../images/rightarr.png") no-repeat scroll right 15px / 10px auto}
.list_normal_02 a{display: inline-block; width: 100%;line-height: 40px; background: url("../images/rightarr.png") no-repeat scroll right 15px / 9px auto}



.com_foot{width: 100%; height: 50px;background: #fff;padding-top: 7px;}
.com_foot_menu li{width: 33.33333%; text-align: center; font-size: 10px; color: #585858}
.com_foot_menu li.cur{ color: #ff4657}
.com_foot_menu li img{height: 25px;}
.com_foot_menu li p{ line-height:8px;}
.com_foot_menu li.cur p{color: #ff4657}


.mod_m_input .money_input::-webkit-input-placeholder{ 
    color:    #c7c7cd;
    font-size: 18px;
}
.mod_m_input .money_input:-moz-placeholder{ 
    color:     #c7c7cd;
    font-size: 18px;
}
.mod_m_input .money_input::-moz-placeholder { 
    color:     #c7c7cd;
    font-size: 18px;
}
.mod_m_input .money_input:-ms-input-placeholder { 
    color:     #c7c7cd;
    font-size: 18px;
}

/* 投资中金额输入框 活期理财与定期理财 模块  */
.mod_m_input{ background: #fff;border-radius: 6px; border: 1px solid #ededed; 
    padding: 8px 57px; overflow: hidden ; width: 100%; position: relative}

.mod_m_input .money_input{ display: inline-block; width: 100%;border: none; padding: 6px 0;
    font-size: 25px;color: #585858; line-height: 30px; }
.mod_m_input  .btns{position: absolute; width: 50px; height: 38px;top: 10px; text-align: center}
.mod_m_input  .btn_plus{right: 0px; border-left:#f4f4f4 solid 1px;
    background:url("../images/plus.png") no-repeat;
    background-size: 20px auto; background-position: 13px 9px;
}
.mod_m_input  .btn_reduce{left: 0px;border-right:#f4f4f4 solid 1px;
    background:url("../images/jian@3x.png") no-repeat;
    background-size: 16px auto; background-position: 17px 18px;}


/*  我的银行卡  */
.mod_block_bank{ border-radius: 6px; background: #fff;border:#d1d1d1 solid 1px;margin-bottom: 15px; }
.my_card{ padding-left: 74px;}
.my_card .bank_ico{width: 44px; height: 44px; top: 14px;left: 15px;}
.my_card .bank_ico img{ display: block; width: 100%; height: 100%;}

.btn_unbind{display: inline-block;line-height: 25px; padding: 0px 15px;
    border-radius: 15px;border: #d3d3d3 solid 1px;color: #848484}
.btn_unbind.cur{ color: #037aff}

.ad_cd{display: inline-block; line-height: 44px; width: 100%;
    position: relative;padding-left: 45px;background: url("../images/rightarr.png") no-repeat;
    background-size:auto 13px ;background-position: right 13px;  }
.ad_cd .ico_add{background: url("../icons/plus_1@3x.png") no-repeat;background-size: 17px 17px;
    background-position:15px 13px;width: 44px; height: 43px; left: 0px; top: 0px; }
.bank_sty_2{height: 45px; line-height: 45px;padding-right: 20px;}

/*  充值  提现 投资 赎回 模块中个人账户金额信息的 列表  */
.mod_money_list{padding-left: 15px;}
.mod_money_list li{border-bottom: #d1d1d1 solid 1px;line-height: 44px;}
.mod_money_list span{font-size: 17px;color: #585858; float: left}
.mod_money_list b{font-size: 15px; color: #A8A8A8; float: right;padding-right: 15px;}

/* 定期投资详情  */
.invest_details{}
.invest_details li{line-height:44px;color: #A8A8A8;padding-right: 15px;}
.invest_details li span{ position: relative; float: left; font-size: 17px; }
.invest_details li b{position: relative; float: right; font-size: 15px;}
.bd_bom_d1_1{border-bottom: #d1d1d1 solid 1px;}
.invest_details li.active{font-size: 18px; color: #585858}
/* extends _extra _quote */
.quote_sty_1{padding-top:20px;padding-bottom: 20px;color:#848484;font-size: 13px;line-height: 13px;text-align: center}
.title_sty_44_17px{ line-height: 44px; font-size: 17px; color: #585858;text-align: center }


.line_bank{ line-height: 26px; padding-top: 12px;}
.btn_rm_card{padding: 0px 15px; border-radius: 13px;border: #d1d1d1 solid 1px;}
.btn_rm_card.cur{color: #037AFF; }


/* 个人中心 */

.User_reg_ico{text-align: center; padding: 25px 0px 5px }
.User_reg_ico img{ width: 80px; }

.userinfo{ color: #585858}
.userinfo .user_ico{display: block;border-radius: 50%;width: 88px; height: 88px; margin: 0 auto}
.userinfo .pos_ab{ right: 15px; top: 0px;}
.userinfo .pos_ab img{ height:24px;line-height: 24px; vertical-align: middle }

.userinfo p{padding-top: 10px; line-height: 1em;}
.userinfo .user_tag{font-size: 15px; }
.userinfo .user_value{ font-size:30px; }

.account_menu{ font-size: 15px;}
.account_menu .cols_3:first-child{ border-bottom: #e8e8e8 solid 1px;}
.account_menu .cols_3 li { border-right: #e8e8e8 solid 1px;text-align: center; padding-top: 20px; height: 105px; }
.account_menu .cols_3 li p{ padding-top: 6px; line-height: 1.2em;}
.account_menu .cols_3 li img{ width: 28px;}
.account_menu .cols_3 li .more{ font-size: 12px;}


/* tixian */
.ico_bank_clock{ background: url("../icons/clock.png") no-repeat;background-size: 20px auto; background-position: 0px 11px;}
.ico_bank_host{background: url("../icons/rbank.png") no-repeat; background-size: 20px auto; background-position: 8px 9px;}
.ico_bank_money{background: url("../icons/amount.png") no-repeat;background-size: 20px auto;background-position: 0px 12px;}

.ico_bank_host1{background: url("../icons/rbank.png") no-repeat;background-size: 20px auto;background-position: 0px 12px;}
.ico_pad{padding-left: 40px;}

/*  个人信息  */
.list_normal li{}
.list_normal li span , .list_normal li a{font-size:17px;color:#585858}
.list_normal li i{float: right}
.list_normal li b{font-size: 15px; color: #A8A8A8}
.info_user_ico{ line-height: 55px;padding-top:15px;padding-bottom: 15px;}

.sty_user_ico{padding-right: 20px; }
.sty_user_ico img{width: 54px; height: 54px; position: relative; float: left; border-radius: 50%;}

/* 投资列表 */
.mod_invest_list{}
.invest_list_ico li{ width: 33.3333%; text-align: center}
.invest_list_ico li img{height:24px; }




.invest_item{margin-top: 12px;}
.invest_active{
    background: #fff;}
.inv_now{padding-top: 18px; text-align: center;}
.inv_now .tit{font-size: 19px;
    color: #585858;line-height: 20px;}
.inv_now .date{line-height: 1em; padding: 5px 0px 11px;color:#848484;font-size: 12px;}
.inv_canvas{ width: 100%; height: 126px; text-align: center;  }
.inv_canvas .draw_circle{width:126px; height: 126px;border-radius: 50%;text-align: center;
    border:#ddd solid 1px;}
.inv_canvas .draw_circle h2{  line-height:30px;font-size: 13px;text-align: center;padding-top: 30px;}
.inv_canvas .draw_circle p{ font-size: 33px; line-height: 30px; text-align: center; color:#ff4657; margin-left:-10px;
    display: inline-block;position: relative}
.inv_canvas .draw_circle p .pos_ab{ position: absolute; font-size: 20px;top: -6px;
    right:-16px;}

.invest_s_a{}
.invest_s_a h2{font-size: 12px;}
.invest_s_a b{ font-size: 20px;line-height: 20px;}




.invest_end_info {color: #848484;}
.invest_end_info li{width:33.3333%}
.invest_end_info li:first-child{text-align: left;}
.invest_end_info li:last-child{ text-align: right;}
.invest_end_info li{ text-align: center}
.invest_end_info li b,.invest_end_info li span{display: inline-block; width: 100%;}
.invest_end_info li b{font-size: 13px;}


.invest_end_title{padding: 10px 0px; border-bottom:#d1d1d1 solid 1px;font-size: 17px;color: #848484}
.invest_end_title a{float: right;font-size: 13px; padding:0px 10px; border: #c4c4c4 solid 1px;line-height: 21px; border-radius: 6px; }

/*  标期详细信息页面   */
.invest_info{text-align: center}
.invest_info li{width: 33.3333%}
.invest_info li b, .invest_info li span{ display: inline-block; width: 100%}
.invest_info li b{font-size: 13px;color: #848484 }
.invest_info li span{font-size: 22px;line-height: 26px;color: #848484}


.list_over{}
.list_over li{width:100%;border-bottom: #ededed solid 1px;line-height: 43px;}
.list_over li span{ float: left;font-size: 17px;color: #585858}
.list_over li a{ display: inline-block; float: right;font-size: 13px; color: #8E8E93}

.list_r_pad_15{}
.list_r_pad_15 li {padding-right: 15px;}

.list_li_r_pad_ico{}
.list_li_r_pad_ico a{ display: inline-block; width: 100%;}
.list_li_r_pad_ico li b{padding-right: 15px;background: url("../images/rightarr.png") no-repeat ;
    background-position: right 14px; background-size: 10px auto; float: right}
.list_li_r_pad_ico li i{ float: right}


/*交易记录-str*/
.trade_nav{ width:100%; background-color:#fff; padding:10px 15px; float:left;}
.trade_nav li{ width:20%; height:24px; line-height:24px; font-size:14px;
 color:#848484; float:left; text-align:center;  cursor:pointer;}
.red_color{ color:#ff4657 !important; border-bottom:2px solid #ff4657;}
.unit_yuan{ width:100%; line-height:30px; color:#848484; font-size:13px; float:left; padding-left:10px; background-color:#f5f5f6;}
.parti_ul{ padding-left:10px; float:left; width:100%;}
.parti_ul li{ width:100%;height:60px; border-bottom:1px solid #d1d1d1;}
.parti_ul .inner_ul{float:left;}
.inner_ul li{border:none; height:30px;}
.parti_ul span{ float:right; margin-right:10px; display:block; font-size:18px; color:#ff4657; height:60px; line-height:60px;}
.parti_ul span b{ display:inline-block; width:15px; height:14px; background:url(../images/plus.png) no-repeat;background-size:15px 15px;}
.recharge_me{color:#585858; font-szie:15px; line-height:40px;}
.rech_date{color:#a8a8a8; font-szie:14px; line-height:20px;}


/*  多行列表 */
.mulit_list{}
.mulit_list li{border-bottom: #d1d1d1 solid 1px;width: 100%;padding: 12px 15px 10px 0px; color: #585858}
.mulit_list li p{line-height: 1em; color: #585858}
.mulit_list li b{font-size: 14px; line-height: 17px;color: #a8a8a8;}
.mulit_list li span{line-height: 32px;font-size: 18px;display: inline-block; float:right}

/* 用户活期投资与定期投资列表 样式  以及提高收益  */

.do_invest_list{}
.do_invest_list li{border-bottom: #ededed solid 1px;padding: 10px 15px 10px 0px}
.do_invest_list .pos_ab{top: 20px;left: -30px}
.pad_t_15{padding-top:15px;}

span.circle_item{width: 22px; height: 22px; display: inline-block;}
.circle_item{background:url("../images/btn_select@3x.png") no-repeat ;border-radius: 50%;background-size:22px 22px;border:none;}
.circle_item.cur{background:url("../images/btn_selected@3x.png") no-repeat ;border-radius: 50%;background-size:22px 22px;border:none;}

.do_invest_list li h3{line-height: 25px; font-size: 17px; color: #585858;width: 100%;position: relative; float: left}
.do_invest_list li p{font-size: 13px; line-height: 20px;color: #A8A8A8}

.area_input{background: #fff;position: relative }
.area_input:first-child{ border-bottom: #e8e8e8 solid 1px;}

.area_input input{ display: inline-block; width: 100%; font-size: 15px;  color: #a8a8a8;  border:none; outline:none;}
.area_input .getmsg{position: absolute; right: 0px; top: 9px; line-height: 25px;
    border-left: #e8e8e8 solid 1px; color:#585858;
    font-size: 15px;width: 100px; text-align: center}

.mod_log_ico{ padding:25px 0px}
.mod_log_ico img{ display: block;width: 76px; margin: 0 auto}
.template_pwd{width:100%;position: fixed; bottom: 0px; left: 0px; height: 200px;z-index: 600;background: #fff; padding-top: 10px;}
.pad_tb_10{padding: 10px 0px;}
.template_pwd .input_pwd_title{ font-size: 16px; line-height:1em;text-align: center;color: #585858;padding:17px 0px 12px}
.template_pwd .input_pwd_com{padding: 6px 0px; line-height: 20px;font-size: 16px; width: 160px;text-align: center; letter-spacing: 10px;}

.over_bg_pwd{display: none;width: 100%; height: 100%;left: 0px; top: 0px;position: fixed; background: rgba(0,0,0,0.4)}

/*新增密码样式*/
.pass_fixed{ width:100%; position: fixed; left: 0; bottom: 0; z-index: 99; background-color: #ffffff; padding: 15px 0 0px;}
.pass_fixed h3{ text-align: center; font-size: 17px;}
.pass_fixed .find_password{ text-align: right; padding-top:11px;}
.pass_fixed .find_password a{ color:#037AFF; }
.pwd_outer{ width: 210px; margin: 0 auto;  height: 40px;
    border-radius: 8px;  position: relative;  }
.pwd_outer:after{ display: block; content: ''; clear: both;}
.pwd_outer span{ display: block;  width: 34px; height: 35px; border-right: solid 1px #c2c3c0; float: left}
.pwd_outer span:last-child{ border-right:none;}

/**/
.pwd_outer .input_pass{ width: 210px; line-height: 25px; display:inline-block;  border-radius: 8px; padding: 5px 0px;
    position: relative;  left:0px; color: #585858;  background: none; letter-spacing: 10px;  font-size:20px;  border: none; outline: none; text-align: center;
    display: block; border: solid 1px #848484;
}

.index_news_list{line-height: 30px; background:rgb(255, 238, 189); font-size: 14px;padding: 0px 45px 0px 15px;overflow: hidden}
.index_news_list.jiaji{ background: #ffce00;}
.index_news_list a{position: relative; left: 100%;}

.footer_point{ display: block; width:8px; height: 8px; left: 50%;margin-left: 13px;
    border-radius: 50%;background: #ff4657 }

.over_bg{ position: fixed; width: 100%; height: 100%;
    background: rgba(0,0,0,0.4); z-index: 50; display: none}

.ind_invest{}
.ind_invest li{text-align: center}
.ind_invest li p{font-size: 13px; color:#848484; padding-bottom:5px;}
.ind_invest li span{ font-size: 18px; color: #585858}

.ind_btns li{ padding: 0px 10px}

.ico_news_close{right: 0px;width: 40px; height: 30px; top: 0px; right: 0px;
    background: url("../images/gonggao@3x.png")  no-repeat; background-size: 18px 18px;background-position: 7px 5px;
    background-color:rgb(255, 238, 189);
}

.pad_bom_100{padding-bottom: 0px;}

.index_state_ico img{ display: block;margin:0 auto; width: auto; height: 100px;}
.index_state_ico p{ text-align: center; color: #FFFFFF; line-height: 30px;font-size: 13px;}



/**
*  活动中心 Css样式
*/
/*active-start*/

.redbag_title{   font-size:15px; color:#ff4657; position:relative;width:100%; background-color:#fff;padding: 5px 15px;}
.redbag_title img{ width:25px;display: block;position: relative}
.redbag_title a{ position:relative; display:block; top: 5px;}
.a_sty{ display:inline-block;  line-height:35px; width:100%; cursor:pointer; text-align:center; border-radius:7px;}
.acti_new{ width:100%; height:100%; background-color:#FFFFFF; float:left; position:relative;}
.acti_new .small_pro{ position:absolute; right:15px; display:inline-block; margin-top:7px; width:20px; height:20px;}
.acti_f_pic{ text-align:center; color:#ff4657; font-size:14px;}
.acti_f_pic img{ width:107px;}
.ac_an{ width:100%; text-align:center; margin-top:67px;}


.ac_an2{margin-top:18px; padding-left:15px; padding-right:15px; margin-bottom:28px;text-align: center}
.ac_btn{ display:block; width:226px; height:45px; text-align:center;
    color:#ff4657;display:inline-block; font-size:15px; line-height:44px; border-radius:22px;
    border:1px solid #ff4657; cursor:pointer; position:relative;}
.ac_btn.cur{border: #ededed solid 1px;}


.ac_an2 .ac_btn{background-color:#ff4657; border:none;width:100%;color:#fff;}
.rinow_cj{ background-color:#ff4657; color:#fff;}
#ac_la{text-align:center;margin-top:25px;font-size:13px; margin-bottom:80px;}
.ac_btn .con_1{ background:url(../images/ico_week_mq.png) no-repeat;
    background-size:22px 21px; width:22px; height:21px; display:inline-block;
    position:absolute; top:12px; left:12px;}
.ac_btn .con_1.cur{ background:url(../images/ico_week_mq_cur.png) no-repeat; background-size:20px; width:20px; height:20px; display:inline-block; position:absolute; top:13px; left:20px;}

.ac_xuan{ width:100%; height:70px; box-sizing:border-box;}
.ac_con{ width:100%; border-top:1px solid #e2e2e2; margin-top:20px;}
.ac_con .le,.ac_con .ri{ width:50%; height:44px; margin-top:13px; float:left;}
.ac_con .le{ border-right:1px solid #e2e2e2}
.ac_con p{ width:100%; text-align:center; font-size:12px; color:#585858;}
.ac_con .bi_font{ font-size:22px;}
.ac_la_btn{ width:100%; padding-left:15px; padding-right:15px; box-sizing:border-box; margin-bottom:30px; margin-top:30px; float:left;  cursor:pointer; margin-bottom:50px;}
.ac_la_btn a{ display:inline-block;  line-height:45px; width:100%; cursor:pointer; text-align:center;}
.ac_la_btn .ts{background:url(../images/ico3_hongbaohuodong.png) no-repeat;background-size:22px 23px;
    width:130px; height:23px;color:#fff; padding-left:25px; position:relative;}
/*active-end*/


.qiandao_icon{ width: 101px; height: 101px;background: url("../images/ico3_qiandao.png");
    background-size: 100% auto; margin:0 auto}
.qiandao_icon.cur{ background: url("../icons/ico3_qiandao_2.png");}

/*red_bag-start*/

.small_pro img{ width:25px;}
#red_cq{background-color:#ff4657;}
#in_jx{color:#ff4657;}
.acti_f_pic .tishi{color:#ababab;}
.acti_new .ac_an{margin-top:18px; padding-left:15px; padding-right:15px;}
.ac_la_btn{text-align:center;margin-top:25px;font-size:13px;}
.red_f{ color:#fff; width:100%;}
.acti_f_pic .good_luck{color:#ababab; font-size:17px; }
.red_check{ width:70%; margin-left:15%; height:38px; border-radius:6px; border:1px solid #ff4657; margin-top:4px;}
.red_check a{ width:50%; display:inline-block; text-align:center; font-size:15px; line-height:36px; float:left; color:#fff;}
.qiu_line{ width:100%; padding-left:22px;}
.qiu_line .impor{ width:100%; height:auto; border-left:2px solid #eaeaea; }
.waiyi{ width:100%;}
.qiu{ width:49px; height:49px; border-radius:49px; background-color:#cecece; margin-top:24px; margin-left:-25px; text-align:center; line-height:49px;  position:relative;}
.qiu span{color:#fff;}
.qiu ul{ position:absolute; left:68px; top:10px; }
.qiu ul li{ line-height:15px; font-size:12px; width:200px; text-align:left; color:#aeaeae;}


/*red_bag-end*/

/*加息-start*/
.addx{ width:100%; padding-left:15px; padding-right:15px;}
.addx_imp{width:100%; height:110px; border-radius:7px; background-color:#ff4657; margin-top:30px; padding:15px;}
.addx_top{width:100%;height:55px; border-bottom:1px solid #fff;}
.addx_top .le,.addx_top .ri{ position:relative;}
.addx_top span,.addx_top b,.addx_top p,.addx_top li{ color:#fff;}
.addx_top .ri b{position:absolute;top:-10px; left:-24px;display:block; width:20px; height:20px;font-weight:800;font-size:30px;}
.addx_top .ri p{margin-right:16px;font-size:50px; line-height:45px;}
.addx_top .ri span{position:absolute; top:-4px;left:33px;font-size:24px;}
.addx_bottom{line-height:37px;color:#fff;font-size:20px;padding-left:40px;}
.chae{ font-size:15px;line-height:54px; text-align:center;color:#9b9b9b;}
.ac_la_btn{text-align:center;margin-top:15px;font-size:13px; margin-bottom:80px;}
.ac_la_btn .content{ width:100%; font-size:15px; text-align:left;}
.ac_la_btn .content p{ color:#9b9b9b; line-height:25px; font-size:14px}
.ac_la_btn .getax{ background-color:#c4c4c4; margin-bottom:30px; margin-top:40px;}
.ov_use{line-height:37px;color:#fff;font-size:15px;padding-left:40px;}
.addx_bottom a{ color:#fff;}
/*加息-end*/
/*签到规则-start*/

/*签到规则-end*/



 /*排行榜*/
.rank_list{ height:100%;}
.rank_title{ height:30px; margin-top:15px; border:1px solid #ff4657; border-radius:6px; overflow:hidden;}
.rank_title a{ width:50%; line-height:30px; color:#ff4657;}
#now_zt{ color:#fff; background-color:#ff4657;}
.rank_cont{ height:100%; margin-top:90px; padding-left:15px; }
.rank_particont{ border-top:1px solid #dddada; }
.rank_particont li{ width:100%; border-bottom:1px solid #dddada; line-height:45px; overflow:hidden; padding-right: 15px;}
.rank_particont li span{ color:#75736e; font-size:16px; width:33.33%;}
/*排行榜*/


/*计算器-str*/

/*计算器-end*/

/*加息卡*/
.jx_01{ top:18px;width:100%; color:#fff;}
.jx_02{ top:43px;width:100%; color:#fff; font-size:20px;}
.jx_03{ top:164px;width:100%; color:#fff;}
.now_lqjx{ top:202px;width:100%;}
/*加息卡*/


#cur{ background-color:#c4c4c4;color:#fff;}

/*card_recharge*/
.card_recharge h2,.card_recharge p{line-height:24px;}
.card_recharge .bank_ico{top:20px; left:21px;}
.card_recharge .my_card{ padding:14px; padding-right:20px;}
/*card_recharge*/



/*-------投资列表 动画效果样式-----*/

*{ padding: 0px; margin: 0px;}
.content{ width: 95%; margin: 14px auto;  position: relative; overflow:hidden ;
 }
.content_title{ font-size: 14px; text-align: center; position: relative;  transform: translateX(0); padding-bottom: 10px;}
.content_title h2,.content_title p{ width: 100%; text-align: center;}
.content_animate{  width: 100%; height: 130px; position: relative; display: block;
}

.ani_radius{ width: 126px; height: 126px; border-radius: 100%; border: solid 1px #c2c3c0;
    position:absolute; left: 50%; margin-left: -63px;
    display: inline-block;
    -webkit-transition: left 1.5s ease-out;
    transition: left 1s ease-out 0.1s;
}

.ani_radius h2{ font-size: 20px; margin-top: 15px; text-align: center;}
.ani_radius p{ font-size: 13px; text-align: center;}

.ani_radius_right{
    width: 126px; height: 126px; border-radius: 100%; border: solid 1px red;
    display: inline-block;  position: absolute; right:-100%;
    -webkit-transition: right 1s ease-out 0.2s;
    transition: right 1s ease-out 0.2s;
}

.ani_radius_right h2{ font-size: 20px; margin-top: 30px; text-align: center;}
.ani_radius_right p{ font-size: 13px; text-align: center;}

.ani_click{ position: absolute; top: 45%; right: 0;  font-size: 14px;
    -webkit-transition: left 1.2s ease-out;
}
.ani_click h2{ font-size: 13px;}
.ani_click p{ font-size: 30px;}
.ani_click p b.pos_ab{ font-size: 13px;}
.aniLeft{
    margin-left: -84%;
}
/*右侧按钮*/
.aniRight{ right: -54%; }

/*左侧灰色按钮*/
.fadeOutLeft{ left: -100%;}
.animateLeft{left: 50%; }

@-webkit-keyframes slideInRight {
    0% {
        opacity: 0;
        -webkit-transform: translateX(500px);
        transform: translateX(500px)
    }

    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0)
    }
}

@keyframes slideInRight {
    0% {
        opacity: 0;
        -webkit-transform: translateX(500px);
        -ms-transform: translateX(500px);
        transform: translateX(500px)
    }

    100% {
        -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
        transform: translateX(0)
    }
}

.slideInRight {
    -webkit-animation: slideInRight 1s;
    animation: slideInRight 1s;
}



/*-----------------------*/

@-webkit-keyframes slideInLeft {
    0% {
        opacity: 0;
        -webkit-transform: translateX(-500px);
        transform: translateX(-500px)
    }

    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0)
    }
}

@keyframes slideInLeft {
    0% {
        opacity: 0;
        -webkit-transform: translateX(-500px);
        -ms-transform: translateX(-500px);
        -moz-transform: translateX(-500px);
        -o-transform: translateX(-500px);
        transform: translateX(-500px)
    }

    100% {
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
        transform: translateX(0)
    }
}

.slideInLeft {
    -webkit-animation: slideInLeft 1s;
    -o-animation: slideInLeft 1s;
    -moz-animation: slideInLeft 1s;
    -ms-animation: slideInLeft 1s;
    animation: slideInLeft 1s;
}

.col_fff{ color:#fff;}
.white_border{ background-color:#fff; color:#ff4657; border:solid 1px #ff4657;}
.outline{outline:none}


 .trade_nav{position:fixed; left:0; top:0;right:0;z-index:999; padding-bottom:10px;border-bottom: #ededed solid 1px}
  
  .translateAbsoulte{ position:absolute; left:50%; top:50%; -webkit-transform:translate(-50%,-50%); transform:translate(-50%,-50%)
  }
 #tabs-container{ width: 100%; margin-top:50px;}
.swiper-slide{ height: 600px; overflow-y: auto;}
 .list_over li{ font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;  font-size: 18px;
        }
        .fr{ float: right;}
        .fl{ float: left;}
        .list_over li{border-bottom: #ededed solid 1px;}
        .list_over li:after{ content: ''; display: block; clear: both;}
        .record_figure{border-bottom: #ededed solid 1px; display: none;  }
        .record_figure:before{ content: ''; display: block; clear: both;}

        .record_figure p{ color: #A8A8A8; font-size: 14px; line-height: 32px; padding-right: 15px;}
        .record_figure p em:nth-child(1){ float: left;}
        .record_figure p em:nth-child(2){ float: right;}
        .record_figure p:after{ content: ''; display: block; clear: both;}
        .clear{ clear: both;}
        .color_84{ color:#848484;}

.positionBottom{padding-bottom: 35px;background: #fff;position:absolute; width: 100%;}

.clear{ clear: both}
.clearfix:after {
    content: "." ;
    display: block ;
    height: 0 ;
    clear: both ;
    visibility: hidden ;
}
.trade_nav li span{ display: inline-block; width: auto;}
.ani_radius{ border:none}
#target  .tit{ font-size:19px; line-height:1em;}
#target .date{ font-size:11px; line-height:13px; color:#a8a8a8;}

 h2{color:#848484;}
.overline b{ font-size:13px; color:#848484;}
. invest_list_ico .overline b{font-size:13px; color:#848484;}
. invest_list_ico .overline span{ font-size:22px; color:#585858; line-height:26px;}
.addColor{font-size: 13px;color: #848484}
.fixed_record{position:absolute;z-index:99; right:15px; top:10px;}
  #last_one{font-size: 17px;
    background: url("../images/rightarr.png") right 15px no-repeat;
    background-size: auto 15px;
    margin-right: 10px;  }
.list_acctd .titles{background:url("../images/ico4_shouyi.png") no-repeat 2px 5px ;background-size:22px 22px; }
.NumFamliy{ font-family: 'Helvetica Neue' ;}

/*修改密码的层次*/
#key_pass{ position: absolute; top:0; z-index:1;}
#key_replace{  z-index:3; background-color: transparent; color: transparent;}
.area_input .clear_img img,.mag_t_60 .clear_img img { position:absolute; right:15px; bottom:10px; width:22px; display:none;}


/*立即赎回*/
.redeem_profit #profit_01{ background: url("../images/rightarr.png") no-repeat scroll right 15px / 9px auto; margin-right: 15px;}













