@charset "utf-8";

/*借款人详情*/
.invest_pro_peo_content{ width: 100%; background-color: #fff; margin-top: 20px;}
.invest_pro_peo_content ul{ margin-left: 15px;}
.invest_pro_peo_content ul li{ line-height: 44px; font-size: 17px; border-bottom: solid 1px #ededed ;}
.invest_pro_peo_content ul li:last-child{ border-bottom:none;}
.invest_pro_peo_content ul li span{ float: left; display: inline-block;color: #585858 }
.invest_pro_peo_content ul li em{  float: right; display: inline-block; padding-right: 15px; font-size: 15px;color:#a8a8a8;}
.invest_pro_peo_content ul li:after{ content: ''; display: block; clear: both;}
.invest_pro_peo_h2{  font-size: 18px; margin: 50px 0 0 35px;}
.invest_pro_peo_h2 a{color: #4a90e2;}
.content_animate{  width: 100%; height: 130px; position: relative; display: block;  }





















