<html>
<head>
<meta charset="UTF-8">
<title>🎁您有一份礼包待领取</title>
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no">
<meta name="x5-fullscreen" content="true">
<meta name="full-screen" content="yes">
<link rel="stylesheet" href="__PUBLIC__/css/style.css">
<script src="http://cdn.bootcss.com/jquery/1.9.1/jquery.min.js"></script>
<link href="__PUBLIC__/layer/need/layer.css" rel="stylesheet" type="text/css">
<script src="__PUBLIC__/layer/layer.js"></script>
<style>
    #gift-controller,.ui-gift-item{height:100%}.ui-gift-item{width:100%;position:relative;background-repeat:no-repeat;background-size:cover;background-position-x:100%}.ui-gift-info{position:absolute;top:50%;left:50%;width:80%;max-width:500px;border-radius:4px;background:rgba(255,255,255,.9);padding:10px;-webkit-transform:translate(-50%,-50%);transform:translate(-50%,-50%)}.ui-gift-goods .ui-image{height:80px;width:80px;margin-right:10px;border-radius:50%}.ui-gift-goods .ui-image,.ui-goods-info{display:inline-block;vertical-align:middle}.ui-border-top:before{background-color:#999}.ui-pointer-mask{position:absolute;top:0;left:0;bottom:0;right:0;background-color:rgba(0,0,0,.5)}.ui-pointer-mask .ui-image{width:100%}

  </style>
<script>
    function msg(text) {
        layer.open({
            content: text,
            style: 'background-color:#EA5824; color:#fff; border:none;text-align: center;' //自定风格
                ,
            time: 3
        });
    }

    function loading() {
        layer.open({
            type: 2,
            shadeClose:false,
            content: '加载中'
        });
    }
    </script>
 </head>
 <if condition="$theme_id eq 1">
 <body style="background-color: #000000;">
 <else/>
 <body>
 </if>

    <div id="gift-controller">
        <if condition="$theme_id eq 1">
            <div class="ui-gift-item">
            <div class="ui-gift-info" style="
    background-image: url(/Sign/lqb/Public/img/1.jpg);
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: 50%;width:90%">
        <else/>
        <div class="ui-gift-item" style="background-image: url(__PUBLIC__/img/<{$theme_id}>.jpg);">
        <div class="ui-gift-info">
        </if>
    
        
            <img src="<{$is_ouu_trade_no['head_img']}>" style="width: 80px;height: 80px;border-radius: 50%;margin: 0 auto;" class="ui-image">
            <div class="ui-gift-goods ui-text-center">
              
                <div class="ui-goods-info ui-line-16">
                    <div class="ui-section-top" style="font-size:16px;color:#EA5824">
                       🎁领取 <{$username}> 赠送给您的 <{$is_ouu_trade_no['total_fee']}> 元零钱
                    </div>
                </div>
            </div>
            <div class="ui-container ui-text-small">
                <div class="ui-line-24">
                <if condition="$theme_id eq 1">
                <{$toname}>&nbsp;先生(女士)
                <else/> 
                To:<{$toname}>
                </if>
                       
                </div>
                <div class="ui-line-15" style="text-indent: 2em;">
                   <{$is_ouu_trade_no['content']}>
                </div>
                <div class="ui-line-24 ui-text-right">
                <if condition="$theme_id eq 1">
                <{$fromname}>
                <else/> 
                From: <{$fromname}>
                 </if>
                    
                </div>
            </div>
            <if condition="$is_ouu_trade_no['status'] eq 'G'">
                <button id="receive" class="ui-btn ui-yellow" style="">领取礼物</button>
            <elseif condition="$is_ouu_trade_no['status'] eq 'A'"/>
                <div class="ui-border-top ui-text-center ui-grey ui-text-small ui-line-20">
                已被 <span class="ui-blue"><{$receive_name}></span> 领取
            </div>
            <else/>
                <button class="ui-border-top ui-text-center ui-grey ui-text-small ui-line-20" style="">已过期</button>
            </if>

            <div  id ="receives" class="ui-border-top ui-text-center ui-grey ui-text-small ui-line-20" style="display: none;">
                已领取
            <a href="http://www.lianshengit.com/Sign/lqb/index.php/Home/Coinpurse/index">
            <button  class="ui-btn ui-yellow" style="">查询余额</button></a>
            
            </div>
    </div>
</div>
    </div>
<input type="hidden" id ="out_trade_no" value="<{$is_ouu_trade_no['out_trade_no']}>">
</body>
<script>
    $('#receive').click(function(){
        loading();
        var out_trade_no = $("#out_trade_no").val();
        $.ajax({

            type: 'post',
            url: '<{:U('Give/createReceive')}>',
            data: {

                out_trade_no: out_trade_no

            },
            success: function(res) {
                
                if (res.code == 1) {
                    $("#receive").hide();
                    $("#receives").show();
                    layer.closeAll();
                    msg(res.msg);
                } else if (res.code == 3) {
                    layer.closeAll();
                    msg(res.msg);
                    return false;
                    //window.location.href = "http://www.lianshengit.com/Sign/lqb/index.php/Home/Pay/index/orderid/" + res.orderid;
                } else if(res.code == 2){
                    layer.closeAll();
                    msg(res.msg);
                    return false;
                } else if(res.code == 4){
                    layer.closeAll();
                    msg(res.msg+',正转到开卡页面...');
                    setTimeout(function(){

                        window.location.href='http://www.lianshengit.com/ls2014/mindex.aspx?page=register';

                    }, 1500 );
                    return false;
                }else {
                    layer.closeAll();
                    msg('网络异常，请重试！');
                    return false;
                }

            },
            error: function(res) {
                msg('网络错误,稍后再试！');
            }

        });
        
    })
</script>
</html>